In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [28]:
# Load the Data.csv exported in WeatherPy to a DF
cities_df = pd.read_csv(r'..\python-api-challenge\output_data\data.csv')
cities_df.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Isangel,-19.55,169.27,72.72,79,100,11.27,VU,1605982941
1,Port Alfred,-33.59,26.89,77.14,56,60,14.43,ZA,1605982942
2,Puerto Ayora,-0.74,-90.35,77.00,73,75,18.34,EC,1605982644
3,Faanui,-16.48,-151.75,80.01,72,57,9.48,PF,1605982611
4,Sur,22.57,59.53,71.74,54,0,3.31,OM,1605982572

In [7]:
#-------------Humidity Heatmap--------------

In [8]:
# Configure gmaps
gmaps.configure(api_key = g_key)

In [16]:
# Use the lat and lng as locations and Humidity as the weight
location = cities_df[['Lat', 'Long']]
humidity = cities_df['Humidity']
# location.head()
# humidity.head()

In [31]:
# Add Heatmap layer to map
# layout = {'width': '1000px',
#           'height': '500px',
#           'border': '1px solid black',
#           'padding': '1px',
#           'margin': '0 auto 0 auto'
#          }
fig = gmaps.figure()
heat_map = gmaps.heatmap_layer(location, 
                               weights = humidity,
                               dissipating = False,
                               max_intensity = 100,
                               point_radius = 2)
fig.add_layer(heat_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#Narrow down DF to find weather conditions of:
# - Max temp between 70 and 80
# - Wind Speed less than 10 mph
# - Zero Cloudiness
# - Drop rows that do not meet all conditions

In [67]:
ideal_temp = (cities_df["Max Temp"] > 60) & (cities_df["Max Temp"] < 75)
ideal_wind = cities_df["Wind Speed"] < 10
ideal_cloudiness = cities_df["Cloudiness"] == 0
ideal_set = ideal_temp & ideal_wind & ideal_cloudiness
ideal_df = cities_df[ideal_set].dropna()
# len(ideal_df)
ideal_df.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,Sur,22.57,59.53,71.74,54,0,3.31,OM,1605982572
33,Tacoronte,28.48,-16.41,73.00,48,0,9.17,ES,1605982978
45,Dostpur,26.28,82.47,60.46,34,0,6.11,IN,1605982991
85,Yura,-16.25,-71.68,71.60,14,0,9.17,PE,1605983036
86,Tiznit Province,29.58,-9.50,66.96,34,0,2.82,MA,1605982888

In [68]:
# ---------------------Hotel Map--------------------

In [69]:
# Store ideal.df into new variable named hotel_df
hotel_df = ideal_df

# Add a "Hotel Name" column to the DF
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,Sur,22.57,59.53,71.74,54,0,3.31,OM,1605982572,
33,Tacoronte,28.48,-16.41,73.00,48,0,9.17,ES,1605982978,
45,Dostpur,26.28,82.47,60.46,34,0,6.11,IN,1605982991,
85,Yura,-16.25,-71.68,71.60,14,0,9.17,PE,1605983036,
86,Tiznit Province,29.58,-9.50,66.96,34,0,2.82,MA,1605982888,

In [75]:
# Set parameters to search for hotels within 5000 meters
params = {"radius" : 5000,
         "type" : "lodging",
         "keyword" : "hotel",
         "key" : g_key
         }

# set a base url for searching paramaters
search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [76]:
# Create loop to search for hotels in cities
# hotels = []

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    long = row["Long"]
    lat_long = f"{lat},{long}"
    params["location"] = lat_long
    
    response = requests.get(search_url, params = params).json()
    results = response["results"]
    
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
    except:
        hotel_df.loc[index, "Hotel Name"] = "Hotel Not Found"


hotel_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,Sur,22.57,59.53,71.74,54,0,3.31,OM,1605982572,Sur Plaza Hotel
33,Tacoronte,28.48,-16.41,73.00,48,0,9.17,ES,1605982978,Hotel Las Cañadas
45,Dostpur,26.28,82.47,60.46,34,0,6.11,IN,1605982991,Hotel Not Found
85,Yura,-16.25,-71.68,71.60,14,0,9.17,PE,1605983036,Hotel Not Found
86,Tiznit Province,29.58,-9.50,66.96,34,0,2.82,MA,1605982888,Hotel Not Found
151,Kidal,18.44,1.41,73.98,19,0,8.19,ML,1605982797,Hotel Not Found
172,Puerto del Rosario,28.50,-13.86,73.40,53,0,8.05,ES,1605983137,Hotel El Mirador
183,Bilma,18.69,12.92,68.34,26,0,5.50,NE,1605983149,Hotel Not Found
187,Dalby,-27.18,151.27,61.00,84,0,6.93,AU,1605983153,Drovers Motor Inn
217,Lata,40.16,-8.33,62.60,45,0,4.70,PT,1605982904,Magnolias Cottage
224,Keti Bandar,24.14,67.45,73.17,42,0,6.69,PK,1605983194,Hotel Not Found
250,Lumphat,13.49,106.98,71.47,86,0,4.50,KH,1605983223,Hotel Not Found
284,NEDJO,9.50,35.50,61.09,63,0,4.32,ET,1605983259,Yerosan Hotel
336,Sānchor,24.76,71.77,67.12,24,0,7.65,IN,1605983321,Hotel Shreenath Palace
370,Bela,25.93,81.98,60.67,36,0,6.22,IN,1605983358,OYO 23577 Hotel Awadh
395,Esna,25.29,32.55,66.20,55,0,3.36,EG,1605983384,Orient Star Dahabyia Isna 05 Nights Each Sunday
397,Creel,27.75,-107.63,66.43,28,0,5.03,MX,1605983387,The Lodge at Creel Hotel & SPA
441,Muroto-misakicho,33.28,134.15,60.39,64,0,6.98,JP,1605983436,New Sun Palace Muroto
465,Faya,18.39,42.45,62.60,67,0,4.70,SA,1605983462,Hotel Not Found
484,Suez,29.97,32.53,64.76,52,0,6.31,EG,1605983482,LUSINDA HOTEL
506,Bhatgaon,21.15,81.70,65.26,38,0,5.57,IN,1605983505,Hotel Not Found
511,Shwebo,22.57,95.70,66.47,83,0,2.15,MM,1605983511,Shwe Pyi ThuKha Guest House
523,Riyadh,24.69,46.72,73.40,31,0,4.70,SA,1605983469,The Business Boutique Hotel
545,Sesimbra,38.44,-9.10,64.00,82,0,4.70,PT,1605983547,Sesimbra Hotel & Spa
555,Erzin,36.96,36.20,62.01,71,0,5.99,TR,1605983559,Hattusa Vacation Thermal Club Erzin
557,Colares,38.80,-9.45,64.99,55,0,3.36,PT,1605983561,Arribas Sintra Hotel
559,Batī,11.18,40.02,60.76,44,0,2.04,ET,1605983563,Hotel Not Found
561,Barcelos,41.54,-8.62,60.01,76,0,2.68,PT,1605983565,Hotel Bagoeira
565,Nizwá,22.93,57.53,63.52,39,0,1.54,OM,1605983570,Antique inn

In [77]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [78]:
# Add marker layer on top of heat map
hotels = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(hotels)
fig

Figure(layout=FigureLayout(height='420px'))